html,
    body{
        height: 100%;
    }

    /* imagem de fundo da header  */

    .header-home{
        background-image: url("../img/headerPrincipal.jpg");
        width: 100%;
        height: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        position:unset;
    }

    .nav {
        margin-bottom: 5%;
    }

    header{
        margin-top: 3%;
    }

    /* logo sobre a header */

    .logotipo {
        width: 55%;
        border-radius: 50%;
        top: 50%;
        left: 50%;
    }

    /* Banner sobre header */
    
    .banner-sobre {
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        padding: 5%;
        width: 45%;
        border-radius: 5px;
        position: absolute;
        top: 45%;
        left: 58%;
        transform: translate(-50%, -50%);
        transition: .2s;
    }

    .banner-sobre2 {
            color: #fff;
            background-color: rgba(0, 0, 0, .5);
            padding: 20px;
            width: 40%;
            border-radius: 5px;
            position: absolute;
            top: 70%;
            left: 22%;
            transform: translate(-50%, -50%);
            transition: .2s;
    }

    .banner-sobre3 {
        color: #fff;
        background-color: rgba(0, 0, 0, .5);
        padding: 20px;
        width: 38%;
        border-radius: 5px;
        position: absolute;
        top: 25%;
        left: 20%;
        transform: translate(-50%, -50%);
        transition: .2s;
    }

    .banner-sobre4 {
        color: #fff;
        background-color: rgba(0, 0, 0, .5);
        padding: 20px;
        width: 38%;
        border-radius: 5px;
        position: absolute;
        top: 70%;
        left: 80%;
        transform: translate(-50%, -50%);
        transition: .2s;
    }

    /* Carroussel */

    #carrousel-variedades {
        margin-bottom: 3%;
    }

    #titulo-carrousel{
        margin-right: 50%;
        border-radius: 15px 15px 0 0;
        padding: 1%;
        color: white;
        background-color: cadetblue;
    }

    /* titulos sobre pulblicações */

    #titulo-destaques {
        margin-right: 50%;
        color: white;
        padding: 1%;
        background-color: cadetblue;
        border-radius: 15px 15px 0 0;
    }

    /* titulos das receitas */

    #detalhe-receitas{
        color: white;
        padding: 1%;
        background-color: cadetblue;
        border-radius: 15px 15px 0 0;
    }

   /*  Formulário Envie a sua receita */

   #container-form {
       width:auto;
       margin: 3%;
       background-color: cadetblue;
       border-radius: 25px 25px 25px 25px;
       padding: 1%;
   }

   
   /* efeito sobre imagens thumbnails */

    .zoom {
        overflow:visible;
    }

    .zoom img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        display: block;
        margin-block:inherit;
    }

    .zoom:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    /* efeito sobre titulo das imagens thumbnails */

    .zoom:hover a{
        text-decoration: none;
        color: #1C1C1C;
    }

    .zoom a {
        color: #1C1C1C;
    }

    /* botao assinar rodapé */

    #btn-assinar {
        background-color: green;
    }

    /* estilização lista li da header */

    .border {
        font-size: 100%;
        padding: 5%;
      }

    .border:hover{
        box-shadow: inset 0 0 0 25px cadetblue;
        border-radius: 25px;
    }

    /* listas de ingredientes e modo de preparo das receitas */

    li{
        padding: 3px;
        font-style: italic;
        font-size: 140%;
   }

  /*  textos */

    p{
        padding: 5px;
        font-style: italic;
        text-align:justify;
        font-size: 140%;
    }

    /* formulário envie a sua receita */

    label {
        color: white;
    }


    h1 {
        margin-right: 55%;
        border-radius: 15px 15px 0 0;
        padding: 1%;
        color: #fff;
        background-color: cadetblue;
    
    }

    h2{
        margin-right: 65%;
        padding: 1%;
        background-color: cadetblue;
        border-radius: 15px 15px 0 0;
    }


    h3 {
        border-radius: 10px;
        max-width: 400px;
        padding: 1%;
        
    }

    h4{
        height: 2%;
    }

    /* caixas de comentários */

    .comentarios-postados {
        padding-bottom: 9px;
        margin: 5px 0 5px;
      }

     /* Rodapé */ 

    footer {
        background-color: #1C1C1C;
        color: white;
        padding: 1%;

    }
    
    
    @media(max-width: 500px) {
        .banner-sobre {
            width: 100%;
        }


      .banner-sobre2 {
        display: none;
      }

      .banner-sobre3 {
        display: none;
      }

      .banner-sobre4 {
        display: none;
      }

      #li-rodape {
          padding: 10px;
          width: max-content;
          float: right;
          margin-top: 145px;
      }
    }

    @media(max-width: 768px) {
        #form-pesquisa{
          display: none;
        
        }
    }

    @media (max-width: 1000px) {
        #titulo-destaques {
            margin-top: 3%;
        }
    }
